#navbar
  %nav.navbar
    .container
      #navMenu.navbar-menu
        .navbar-brand
          %a.navbar-item
            = image_tag("opnz_screenshot.png")
          %span.navbar-burger{"data-target" => "navbarMenuHeroA"}
        .navbar-start
          %a.navbar-item    
            Home
          %a.navbar-item{:href => "#service"}
            Our Service
          %a.navbar-item
            Why Metaline?
          %a.navbar-item
            Coating Results
          %a.navbar-item
            About        
      .navbar-end
        .navbar-item
          .buttons
            %a.button Enquire
            %a.button.is-dark Call 021 122 9271

%section.hero.is-link.is-fullheight-with-navbar
  .hero-body
    .container
      .columns.is-centered
        .column.is-four-fifths
          .columns
            .column.is-one-half.block
              %p.title
                OPNZ is the sole distributor of Metaline in New Zealand, the #1 coating product for increasing the service life of
                %i pumps and turbines 
              %br
              %p.subtitle  
                %a{:href => "#why-metaline"} 
                  %u Compare Metaline Properties With Other Coatings Found In NZ          
              %p.subtitle Our team provides a quality application service at our workshop in Tauranga, or we can come to you.
              %p.subtitle We provide ongoing support, technical expertise and guaranteed satisfaction
              .button.is-primary Make an Equiry
            .column.is-one-third 
              //Improve The Life Of Your Products
              // put image here