%a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navMenu", :role => "button"}
  %span{"aria-hidden" => "true"}
  %span{"aria-hidden" => "true"}
  %span{"aria-hidden" => "true"}

#navbar
  %nav.navbar
    .container
      #navMenu.navbar-menu
        .navbar-brand
          %a.navbar-item
            = image_tag("opnz_screenshot.png")
          %span.navbar-burger{"data-target" => "navbarMenuHeroA"}
        .navbar-start
          %a.navbar-item 
            Home 
          %a.navbar-item{:href => "#service"}
            Service 
          %a.navbar-item{:href => "#why-metaline"}
            Why Metaline? 
          %a.navbar-item{:href => "#results"}
            Coating Results
          %a.navbar-item{:href => "#about"}
            About
        .navbar-end
          .navbar-item
            .buttons
              %a.button{:href => "#contact"} Contact Us
              %a.button.is-dark{:href => "tel:0211229271"} Call 021 122 9271

%section.hero.is-link.is-fullheight-with-navbar
  .hero-body
    .container
      .columns.is-centered
        .column.is-four-fifths
          .columns
            .column.is-one-half.block
              //= video_tag "beach.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" 
              %p.title
                OPNZ is the sole distributor of Metaline in New Zealand, the #1 coating product for increasing the service life of
                %i pumps and turbines 
              %br
              %p.subtitle  
                %a{:href => "#why-metaline"} 
                  %u Compare the properties of Metaline     
              %p.subtitle Our team provides a quality application service at our workshop in Tauranga, or we can come to you.
              %p.subtitle We provide ongoing support, technical expertise and guaranteed satisfaction
              %a.button.is-primary{:href => "#contact"} Make an Equiry
            .column.is-one-third 
              //Improve The Life Of Your Products
              // put image here


:javascript
  document.addEventListener('DOMContentLoaded', () => {
  
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
  
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
  
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
  
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  
  });