= render 'header'

%nav.level.is-mobile
  .level-item.has-text-centered
    %div
      %p.heading Tweets
      %p.title 3,456
  .level-item.has-text-centered
    %div
      %p.heading Following
      %p.title 123
  .level-item.has-text-centered
    %div
      %p.heading Followers
      %p.title 456K
  .level-item.has-text-centered
    %div
      %p.heading Likes
      %p.title 789

#service  yes

:javascript 
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }