= render 'header'
// oil states and metaline logos
.columns.is-mobile.is-centered
  .column
    = image_tag("metaline_oilstates.png", :class => "below-hero-images center")

// problem section
.columns.is-mobile.is-centered
  .column.is-two-thirds 
    %p.title Metaline extends the life of parts and systems operating in harsh evironments - so you can avoid expensive replacements and associated downtime.
    %p.subtitle Pumps, turbines and many systems which face a range of conditions such as:
    .columns 
      .column 
        %p Cavitation 
      .column
        %p Strong Forces
      .column
        %p Extremes in pH 
    %button.button.is-primary Send a Message

//  step by step process
.columns
#service  yes




:javascript 
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }